<%- include('include/header') %>
    <%- include('include/nev') %>
        <div class="cases-space">
            <a href="/cases/createcase">Add Case</a>
            <div class="card">
                <div class="card-title">Cases</div>
                <div class="card-backdrop">
                    <table class="full-card">
                        <% cases.forEach((caseItem)=> { %>
                            <tr>
                                <td class="image">
                                    <image lsrc="<%= caseItem.clientInfo.pfp.imageUrl %>" src="<%= config.loading %>"alt="PFP" class="img"></image>
                                </td>
                                <td class="name">
                                    <div class="title">
                                        <%= caseItem.clientInfo.name %>
                                    </div>
                                    <div class="sub-title">
                                        <%= caseItem.clientInfo.email %>
                                    </div>
                                </td>
                                <td class="type">
                                    <div class="title">
                                        <%= caseItem.type %>
                                    </div>
                                    <div class="sub-title">Case Type</div>
                                </td>
                                <td class="att">
                                    <div class="title">
                                        <%= caseItem.attorneyInfo.name %>
                                    </div>
                                    <div class="sub-title">Attorney</div>
                                </td>
                                <td class="hear">
                                    <div class="backfill">
                                        <%= caseItem.hearing %> Hearing
                                    </div>
                                </td>
                                <td class="operation1">
                                    <a href="/cases/updatecase?caseid=<%= caseItem._id %>">
                                        <div class="op">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </div>
                                    </a>
                                </td>
                                <td class="operation2">
                                    <a href="/cases/casedetail?caseid=<%= caseItem._id %>">
                                        <div class="op">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                    </table>
                </div>
            </div>
        </div>
        <%- include('include/footer') %>