<%- include('include/header') %>
    <%- include('include/nev') %>

        <div class="card-box">
            <div class="card1 card">
                <div class="card-title">Total Cases</div>
                <div class="card-backdrop">
                    <canvas id="myChart1"></canvas>
                </div>
            </div>
            <div class="card2 card">
                <div class="card-title">Settled Cases</div>
                <div class="card-backdrop">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
            <div class="card3 card">
                <div class="card-title">Votes</div>
                <div class="card-backdrop">
                    <canvas id="myChart3"></canvas>
                </div>
            </div>
            <div class="card4 card">
                <div class="card-title">Opportunity Outcome</div>
                <div class="card-backdrop">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
            <div class="card5 card">
                <div class="card-title">Earning this month</div>
                <div class="card-backdrop">
                    <canvas id="myChart5"></canvas>
                </div>
            </div>
        </div>
        <div class="card-box2">
            <div class="card6 card">
                <div class="card-title">Revenue</div>
                <div class="card-backdrop">
                    <canvas id="myChart6"></canvas>
                </div>
            </div>
            <div class="card7 card">
                <div class="card-title">Outcomes by Opportunity Source</div>
                <div class="card-backdrop">
                    <canvas id="myChart7"></canvas>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-title">Ongoing Cases</div>
            <div class="card-backdrop">
                <table class="ongoing">
                    <% cases.forEach((caseItem)=> { %>
                        <tr>
                            <td class="image">
                                <image src="img/images.png" alt="img" class="img"></image>
                            </td>
                            <td class="name">
                                <div class="title">
                                    <%= caseItem.name %>
                                </div>
                                <div class="sub-title">
                                    <%= caseItem.email %>
                                </div>
                            </td>
                            <td class="type">
                                <div class="sub-title">Case Type</div>
                                <div class="title">
                                    <%= caseItem.type %>
                                </div>
                            </td>
                            <td class="att">
                                <div class="sub-title">Attorney</div>
                                <div class="title">
                                    <%= caseItem.attorney %>
                                </div>
                            </td>
                            <td class="hear">
                                <div class="backfill">3 Hearing</div>
                            </td>
                            <td class="operation1">
                                <div class="op">
                                    <a href="/admin/updatecase?id=<%= caseItem._id %>">
                                        <i class="fa-solid fa-file-pen"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="operation2">
                                <div class="op" data-id="<%= caseItem._id %>">
                                    <a class="delete-op" data-id="<%= caseItem._id %>">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                </table>
            </div>
        </div>
        <div class="card-box">
            <div class="card1 card">
                <div class="card-title">Latest Matters</div>
                <div class="card-backdrop">
                    <table class="sub-table">
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Matter Name</div>
                                <div class="sub-title">Matter Type</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Matter Name</div>
                                <div class="sub-title">Matter Type</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Matter Name</div>
                                <div class="sub-title">Matter Type</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Matter Name</div>
                                <div class="sub-title">Matter Type</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Matter Name</div>
                                <div class="sub-title">Matter Type</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Matter Name</div>
                                <div class="sub-title">Matter Type</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card2 card">
                <div class="card-title">Latest task</div>
                <div class="card-backdrop">
                    <table class="sub-table">
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Task Name</div>
                                <div class="sub-title">Task Type</div>
                            </td>
                            <td>
                                <input type="radio" name="status" class="radio">
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Task Name</div>
                                <div class="sub-title">Task Type</div>
                            </td>
                            <td>
                                <input type="radio" name="status" class="radio">
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Task Name</div>
                                <div class="sub-title">Task Type</div>
                            </td>
                            <td>
                                <input type="radio" name="status" class="radio">
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Task Name</div>
                                <div class="sub-title">Task Type</div>
                            </td>
                            <td>
                                <input type="radio" name="status" class="radio">
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Task Name</div>
                                <div class="sub-title">Task Type</div>
                            </td>
                            <td>
                                <input type="radio" name="status" class="radio">
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Task Name</div>
                                <div class="sub-title">Task Type</div>
                            </td>
                            <td>
                                <input type="radio" name="status" class="radio">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card3 card">
                <div class="card-title">New Members</div>
                <div class="card-backdrop">
                    <table class="sub-table">
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Member Name</div>
                                <div class="sub-title">Member Type</div>
                            <td class="sub-operation1">
                                <div class="sop">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                            </td>
                            <td class="sub-operation2">
                                <div class="sop">
                                    <i class="fa-solid fa-message"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Member Name</div>
                                <div class="sub-title">Member Type</div>
                            <td class="sub-operation1">
                                <div class="sop">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                            </td>
                            <td class="sub-operation2">
                                <div class="sop">
                                    <i class="fa-solid fa-message"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Member Name</div>
                                <div class="sub-title">Member Type</div>
                            <td class="sub-operation1">
                                <div class="sop">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                            </td>
                            <td class="sub-operation2">
                                <div class="sop">
                                    <i class="fa-solid fa-message"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Member Name</div>
                                <div class="sub-title">Member Type</div>
                            <td class="sub-operation1">
                                <div class="sop">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                            </td>
                            <td class="sub-operation2">
                                <div class="sop">
                                    <i class="fa-solid fa-message"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Member Name</div>
                                <div class="sub-title">Member Type</div>
                            <td class="sub-operation1">
                                <div class="sop">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                            </td>
                            <td class="sub-operation2">
                                <div class="sop">
                                    <i class="fa-solid fa-message"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="image">
                                <img src="img/demo-icon.webp" alt="img" class="img"></image>
                            </td>
                            <td class="matter-name">
                                <div class="title">Member Name</div>
                                <div class="sub-title">Member Type</div>
                            <td class="sub-operation1">
                                <div class="sop">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                            </td>
                            <td class="sub-operation2">
                                <div class="sop">
                                    <i class="fa-solid fa-message"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <%- include('include/footer') %>