<%- include('include/header') %>

    <form action="/api/cases" method="post" name="addcases" id="addcases">
        <select name="clientname">
            <option selected disabled hidden>Select client</option>
            <% users.forEach((users)=> { %>
                <option value="<%= users.username %>">
                    <%= users.username %>
                </option>
                <% }) %>
        </select>
        <select name="attorneyname">
            <option selected disabled hidden>Select attorney</option>
            <% users.forEach((users)=> { %>
                <option value="<%= users.username %>">
                    <%= users.username %>
                </option>
                <% }) %>
        </select>
        <input type="text" name="type" placeholder="Case type" required>
        <textarea name="description" id="description" placeholder="Description"></textarea>
        <input type="submit" value="Submit">
    </form>
    <%- include('include/footer') %>