<%- include('include/header') %>

    <form action="" name="updatecases" id="updatecases">
        <input type="hidden" value="<%= cases._id %>" name="id" placeholder="Client name" required>
        <select name="name">
            <% users.forEach((users)=> { %>
                <option value="<%= users.username %>" <%=users.username===cases.name ? 'selected' : '' %>>
                    <%= users.username %>
                </option>
                <% }) %>
        </select>
        <select name="attorney">
            <% users.forEach((users)=> { %>
                <option value="<%= users.username %>" <%=users.username===cases.attorney ? 'selected' : '' %>>
                    <%= users.username %>
                </option>
                <% }) %>
        </select>
        <input type="text" value="<%= cases.type %>" name="type" placeholder="Case type" required>
        <textarea name="description" id="description" placeholder="Description"><%= cases.description %></textarea>
        <input type="number" value="<%= cases.hearing %>" name="hearing" placeholder="Hearing">
        <input type="number" value="<%= cases.revenue %>" name="revenue" placeholder="Revenue">
        <select name="status">
            <option value="win" <%=cases.status==="win" ? 'selected' : '' %>>Win</option>
            <option value="lost" <%=cases.status==="lost" ? 'selected' : '' %>>Lost</option>
            <option value="declined" <%=cases.status==="declined" ? 'selected' : '' %>>Declined</option>
            <option value="declined" <%=cases.status==="settled" ? 'selected' : '' %>>Settled</option>
            <option value="ongoing" <%=cases.status==="ongoing" ? 'selected' : '' %>>On going</option>
        </select>
        <input type="submit" value="Update">
    </form>
    <%- include('include/footer') %>