<%- include('include/header') %>
  <div class="cases-space">
    <div class="back">Back</div>
    <div class="print-content">
      <div class="card">
        <div class="card-title">Case Details</div>
        <div class="card-backdrop">
          <div class="cd-content">
            <div class="cic">
              <div class="title">Client name</div>
              <div class="sub-title">
                <%= cases.clientInfo.name %>
              </div>
            </div>
            <div class="cic">
              <div class="title">Attorney name</div>
              <div class="sub-title">
                <%= cases.attorneyInfo.name %>
              </div>
            </div>
            <div class="cic">
              <div class="title">Case type</div>
              <div class="sub-title">
                <%= cases.type %>
              </div>
            </div>
            <div class="cic">
              <div class="title">Description</div>
              <div class="sub-title">
                <%= cases.description %>
              </div>
            </div>
            <div class="cic">
              <div class="title">Status</div>
              <div class="sub-title">
                <%= cases.status %>
              </div>
            </div>
            <div class="cic">
              <div class="title">Hearing</div>
              <div class="sub-title">
                <%= cases.hearing %>
              </div>
            </div>
            <div class="cic">
              <div class="title">Revenue</div>
              <div class="sub-title">
                <%= cases.revenue %>
              </div>
            </div>
            <div class="cic">
              <div class="title">Create Date</div>
              <div class="sub-title">
                <%= cases.createDate %>
              </div>
            </div>
            <div class="cic">
              <div class="title">Update Date</div>
              <div class="sub-title">
                <%= cases.updateDate %>
              </div>
            </div>
            <div class="cic">
              <div class="title">Is Finished</div>
              <div class="sub-title">
                <%= cases.isFinished %>
              </div>
            </div>
            <div class="actions">
              <div class="operation2 non-print">
                <div class="op print">
                  <i class="fa-solid fa-print"></i>
                </div>
              </div>
              <div class="operation2 non-print">
                <a class="delete-op" data-id="<%= cases._id %>">
                  <div class="op">
                    <i class="fa-solid fa-trash"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%- include('include/footer') %>