<%- include('include/header') %>
  <div class="casesdet-space">
    <div class="back">
      <i class="fa-solid fa-circle-left"></i>Back
    </div>
    <div class="print-content">
      <div class="card">
        <div class="card-title">Case Details</div>
        <div class="card-backdrop">
          <div class="cd-content">
            <div class="cic">
              <div class="sub-title">
                Client name
              </div>
              <div class="title">
                <%= cases.clientInfo.name %>
              </div>
            </div>
            <div class="cic">
              <div class="sub-title">
                Attorney name
              </div>
              <div class="title">
                <%= cases.attorneyInfo.name %>
              </div>
            </div>
            <div class="cic">
              <div class="sub-title">
                Case type
              </div>
              <div class="title">
                <%= cases.type %>
              </div>
            </div>
            <div class="cic">
              <div class="sub-title">
                Status
              </div>
              <div class="title">
                <%= cases.status %>
              </div>
            </div>
            <div class="cic">
              <div class="sub-title">
                Hearing
              </div>
              <div class="title">
                <%= cases.hearing %>
              </div>
            </div>
            <div class="cic">
              <div class="sub-title">
                Complete Status
              </div>
              <div class="title">
                <%= cases.isFinished ? "Finished" : "Not Finished" %>
              </div>
            </div>
            <div class="cic">
              <div class="sub-title">
                Create Date
              </div>
              <div class="title">
                <%= new Date(cases.createDate).toLocaleString() %>
              </div>
            </div>
            <div class="cic">
              <div class="sub-title">
                Update Date
              </div>
              <div class="title">
                <%= new Date(cases.updateDate).toLocaleString() %>
              </div>
            </div>
            <div class="cic">
              <div class="sub-title">
                Revenue
              </div>
              <div class="title">
                <%= cases.revenue %>
              </div>
            </div>
          </div>
          <div class="cic description">
            <div class="sub-title">
              Description
            </div>
            <div class="title">
              <%= cases.description %>
            </div>
          </div>
          <div class="actions">
            <div class="operation2 non-print">
              <div class="op print">
                <i class="fa-solid fa-print"></i>
                Print
              </div>
            </div>
            <div class="operation2 non-print">
              <a class="delete-op" data-id="<%= cases._id %>">
                <div class="op">
                  <i class="fa-solid fa-trash"></i>
                  Delete
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%- include('include/footer') %>