<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Case</title>
</head>

<body>
    <form action="" name="updatecases" id="updatecases">
        <input type="hidden" value="<%= cases._id %>" name="id" placeholder="Client name">
        <input type="text" value="<%= cases.name %>" name="name" placeholder="Client name">
        <input type="text" value="<%= cases.email %>" name="email" placeholder="Client email">
        <input type="text" value="<%= cases.attorney %>" name="attorney" placeholder="Attorney assigned">
        <input type="text" value="<%= cases.type %>" name="type" placeholder="Case type">
        <select name="status">
            <option value="win" <%=cases.status==='win' ? 'selected' : '' %>>Win</option>
            <option value="lost" <%=cases.status==='lost' ? 'selected' : '' %>>Lost</option>
            <option value="declined" <%=cases.status==='declined' ? 'selected' : '' %>>Declined</option>
            <option value="ongoing" <%=cases.status==='ongoing' ? 'selected' : '' %>>On going</option>
        </select>
        <input type="submit" value="Update">
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script src="../js/script.js"></script>

</html>